---
layout: default
redirect_from:
  - /undefined
  - /page10/undefined
  - /marketing/social%20%media/2013/04/18/undefined
  - /niko-niko/diy/2013/05/07/undefined
  - /engagement/tips/2013/07/30/undefined
  - /recognition/workplace/tips/2013/10/21/undefined
  - /features/tips/2015/07/30/undefined
  - /en/2016/01/12/undefined
  - /en/2016/10/05/undefined
  - /en/2017/03/07/undefined
  - /en/2017/04/11/undefined
  - /2017/05/23/undefined
  - /2017/06/29/undefined
  - /2017/12/06/undefined
  - /2018/02/07/undefined
  - /2018/04/02/undefined
  - /2018/04/18/undefined
  - /2018/05/16/undefined
  - /2018/07/04/undefined
  - /2018/09/26/undefined
  - /2018/11/29/undefined
  - /2019/02/19/undefined
  - /2018/06/12/undefined
  - /2018/07/04/undefined
  - /2018/07/24/undefined
  - /2018/08/28/undefined
  - /2018/09/26/undefined
  - /2018/10/30/undefined
  - /2018/11/14/undefined
  - /2019/02/19/undefined
  - /2019/03/05/undefined
  - /2019/03/29/undefined
  - /2019/04/16/undefined
  - /2019/05/15/undefined
  - /2019/06/07/undefined
  - /2019/07/08/undefined
  - /2019/09/16/undefined
  - /2019/10/02/undefined
  - /2019/10/23/undefined
  - /2019/11/26/undefined
---

<main class="content" role="main">

  <header class="blog-header">
      <h1 class="blog-title">{{ site.title }}</h1>
      <h2 class="blog-description">{{ site.description }}</h2>
  </header>

  <div class="cf frame">
    {% for post in paginator.posts %}
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        <div class="article-item">
          <header class="post-header">
            <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
          </header>
          <section class="post-excerpt" itemprop="description">
            <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
          </section>
          <div class="post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
          </div>
        </div>
      </article>
    {% endfor %}
  </div>

  <nav class="pagination" role="navigation">
    {% if paginator.next_page %}
      <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">&larr; Older posts</a>
    {% else %}
      <a class="newer-posts disabled">&larr; Older posts</a>
    {% endif %}
    <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="older-posts" href="{{ site.baseurl }}/">Newer posts &rarr;</a>
      {% else %}
        <a class="older-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer posts &rarr;</a>
      {% endif %}
    {% else %}
      <a class="older-posts disabled">Newer posts &rarr;</a>
    {% endif %}
  </nav>

</main>

{% include footer.html %}
