---
layout: default
---

<!-- CSS background background in webp format if the browser supports it -->
<style>
  .no-webp .post-header {
    background-image: url('{{ site.url }}/{{ page.image }}');
  }

  .webp .post-header {
    background-image: url('{{ site.url }}/{{ page.image | to_webp }}');
  }
</style>

<main class="content" role="main">
  <div class="post-header" title="{{ page.title }}">
</div>
  <article class="post">
    <div class="post-meta">
      <h1 class="post-title">{{ page.title }}</h1>
    </div>

    <section class="post-content">
      <a name="topofpage"></a>
      {{content | amp_images | webp_images }}
    </section>
    <footer class="post-footer">
      <section class="share">
        <a class="icon" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{page.title | cgi_escape}}" target="_blank">
          You liked this article? Please share it on
          <span class="icon icon--twitter">{% include icon-linkedin.svg %}</span>
        </a>
        <a class="icon" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{page.title | cgi_escape}}&via={{ site.twitter.username }}" target="_blank">
          , on 
          <span class="icon icon--twitter">{% include icon-twitter.svg %}</span>
        </a>
        <a class="icon" href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&p[title]={{page.title | cgi_escape}}&via={{ site.twitter.username }}" target="_blank">
          or on 
          <span class="icon icon--twitter">{% include icon-facebook.svg %}</span>
        </a>
      </section>
    </footer>
    <div class="bottom-teaser cf">
      <div class="isLeft">
        <h5 class="index-headline featured"><span>Proudly made with ❤️ by</span></h5>
        <section class="author">
          <div class="author-image"></div>
          <h4>{{ site.name }}</h4>
          <p class="bio">{{site.bio}}</p>

          <p>
            <span>
              {% if site.github_username %}
                {% include icon-github.html username=site.github_username %}
              {% endif %}
            </span>

            <span>
              {% if site.twitter_username %}
                {% include icon-twitter.html username=site.twitter_username %}
              {% endif %}
            </span>
          </p>
        </section>
      </div>
      <div class="isRight">
        <h5 class="index-headline featured"><span>Come say hi 👋</span></h5>
        <footer class="site-footer">
          <section class="poweredby">
            <a href="https://www.linkedin.com/company/teammood/" target="_blank">LinkedIn</a> |
            <a href="https://www.facebook.com/teammood" target="_blank">Facebook</a> | 
            <a href="https://twitter.com/teammood" target="_blank">Twitter</a> | 
            <a href="mailto:{{ site.email }}">Email</a>
          </section>
          <div class="inner">
            <section class="copyright">Copyright &copy; {{ 'now' | date: '%Y' }} - <a href="https://www.teammood.com">{{ site.name }}</a></section>
          </div>
        </footer>
      </div>
    </div>
  </article>
</main>
